subscriptions:
  useQueryCache: true
  cacheAttributes: [
    'emitterUuid'
    'subscriberUuid'
    'type'
  ]
devices:
  cacheAttributes: [
    'uuid'
  ]
tokens:
  cacheAttributes: [
    'uuid'
    'hashedToken'
  ]
messages:
  cacheAttributes: [
    'fromUuid'
    'toUuid'
    'messageType'
    'payload'
  ]